@import url(colors.css);

.card.chat {
    position: fixed;
    bottom: 0;
    right:  100px;
    width: 450px;
    height: 450px;
    padding: 0;
}

.message-container{
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sender, .receiver{
    margin-top: 5px;
    padding: 5px;
    border-radius: 25%;
    margin: 2px;
    max-width: 80%;
    color: white;
    /* display: inline-block;  */
}


.sender {
    border-radius: 20px 20px 5px;
    text-align: right;
    align-self: flex-end;
    background-color: var(--primary);
  }
  
.receiver {
    border-radius: 5px 20px 50px;
    text-align: left;
    align-self: flex-start;
    background-color: var(--secondary);
}

.sender-date{
    text-align: right;
    align-self: flex-end;
}

.receiver-date{
    text-align: left;
    align-self: flex-start;
}

.message-ref{
    margin-top: 10px;
}

.header.card-header a {
    color: inherit;
    text-decoration: none;
  }


.header.card-header a:hover{
    background: var(--light_secondary);
}