.homepage{
  margin: 0;

  background-color: #BB86FC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 60px;
  height: calc(100%-100px);
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}