.homepage{
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #FFFFFF;
}

.box{
  padding: 2%;
  flex: 1; /* Each box takes up equal space */
  text-align: center;
}

.space{
  width: 35%;
}

.card {
    width: 450px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
  }
  .card-content{
    width: 650px;
  }
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card-content {
    font-size: 14px;
    color: #555;
  }

  .activeButton {
    background-color: #007bff;
    color: #fff;
    /* Add any additional styles for the active button */
  }

.infinite-scroll-component{
  overflow: hidden;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
}