@import 'colors.css';

 *{
    text-align: center;
}

 .list-scroll{
    max-height: 500px;
    overflow-y: auto;
 }

 .card{
    padding: 0;
 }

.textfield {
    margin: 1em;
    width: 95%;
    max-height: 15em;
    overflow: auto;
}

/* BUTTONS */
.btn-primary{
    background-color: var(--primary);
}

.btn-error{
    background-color: var(--error);
}

.btn-success{
    background-color: var(--success);
}

.body {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    margin-top: 20px;
    padding: 20px;
    flex-grow: 1;
    /* overflow-y: auto; */
}

.header.card-header {
    /* margin: 5%; */
    text-decoration: none;
    background-color: var(--primary);
    color: white;
}

.header.card-header a {
    color: white;
    text-decoration: none;
}

.card{padding: 0;}