/* *{
    background-color: #121212;
    color: white;
}

.card.card, .card-body, .card-header, .card-title, p, div.col-3, .card-footer{
    background-color: #1E1E1E;
    color: inherit;
    background-color: #1E1E1E;
    text-decoration: none;
    color: white;
}

.col, .row, .container{
    background-color:inherit
}
 */

 *{
    text-align: center;
 }