.page {
    display: flex;
    width: 100vw; 
    height: 100vh; 
    /* align-items: center; */
    justify-content: center; 
  }
  
  .left-side,
  .right-side {
    /* flex: 1;  */
    padding: 2%;
  }

  .left-side{
    max-width: 50%;
  }
  .right-side{
    max-width: 50%;
  }

  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  