.requests{
    overflow-y: scroll;
    max-height: 200px;
}

.request{
    display: 'flex';
    align-items: 'center';
    justify-content: 'space-between';
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}
