.page {
    /* display: flex;
    width: 100vw; 
    height: 100vh;  */
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center;  */
  }
  .page-box {
    flex: 1;
    min-width: 500px; /* Set a minimum width for each div */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
  }

  /* .left-side,
  .right-side { */
    /* flex: 1;  */
    /* padding: 2%;
    width: 50%;
    margin: 0 auto;
  } */

  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  